:root {
        // Z-indices
        --z-dialog: 5;
        --z-background: -1;
        --z-base: auto;

        // Colors
        --light-purple: hsl(305deg 25% 71%);
        --dark-purple: hsl(306deg 62% 12%);
        --purple: hsl(299deg 52% 32%);
        --accent-purple: hsl(269deg 39% 47%);
        --all-white: hsl(0deg 0% 100%);
        --all-black: hsl(0deg 0% 7%);
        --dwhite: hsl(0deg 0% 96%);
        --white: var(--all-white);
        --black: var(--all-black);
        --dialog-backdrop: 299deg 5%; // Containing just hue and saturation

        // Font-Family
        --font-sans:'Epilogue', system-ui, -apple-system, roboto, oxygen, ubuntu, cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
        --font-display: 'JetBrains Mono', monospace;

        // Font size
        --step-n2: clamp(0.6076rem, 0.5407rem + 0.3345vw, 0.8rem);
        --step-n1: clamp(0.7292rem, 0.635rem + 0.471vw, 1rem);
        --step-0: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
        --step-1: clamp(1.05rem, 0.8717rem + 0.8913vw, 1.5625rem);
        --step-2: clamp(1.26rem, 1.0189rem + 1.2054vw, 1.9531rem);
        --step-3: clamp(1.512rem, 1.1887rem + 1.6164vw, 2.4414rem);
        --step-4: clamp(1.8144rem, 1.384rem + 2.1519vw, 3.0518rem);
        --step-5: clamp(2.1773rem, 1.6077rem + 2.8477vw, 3.8147rem);

        // Spacing
        --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
        --space-2xs: clamp(0.4375rem, 0.3723rem + 0.3261vw, 0.625rem);
        --space-xs: clamp(0.6875rem, 0.6005rem + 0.4348vw, 0.9375rem);
        --space-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
        --space-m: clamp(1.3125rem, 1.1168rem + 0.9783vw, 1.875rem);
        --space-l: clamp(1.75rem, 1.4891rem + 1.3043vw, 2.5rem);
        --space-xl: clamp(2.625rem, 2.2337rem + 1.9565vw, 3.75rem);
        --space-2xl: clamp(3.5rem, 2.9783rem + 2.6087vw, 5rem);
        --space-3xl: clamp(5.25rem, 4.4674rem + 3.913vw, 7.5rem);

        // Shadows
        --shadow-color: 306deg 62% 12%;
        --shadow-low:
                0.3px 0.5px 0.7px hsl(var(--shadow-color) / 34%),
                0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 34%),
                1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 34%);
        --shadow-medium:
                0.3px 0.5px 0.7px hsl(var(--shadow-color) / 36%),
                0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 36%),
                2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 36%),
                5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 36%);
        --shadow-high:
                0.3px 0.5px 0.7px hsl(var(--shadow-color) / 34%),
                1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 34%),
                2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 34%),
                4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 34%),
                7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 34%),
                11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 34%),
                17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 34%),
                25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 34%);


        font-size: 15px;
        font-family: var(--font-sans);
        color-scheme: light;



        &[data-theme="dark"] {
                --light-purple: hsl(305deg 25% 26%);
                --dark-purple: hsl(306deg 62% 89%);
                --purple: hsl(299deg 52% 32%);
                --accent-purple: hsl(269deg 39% 47%);
                --dwhite: hsl(0deg 0% 10%);
                --white: hsl(0deg 0% 7%);
                --black: hsl(0deg 0% 97%);
                --shadow-color: 306deg 62% 72%;

                color-scheme: dark;
        }
}

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font: inherit;
        line-height: 0.8; // The Font Calculates the Extensions of the long letters into it's height
}

body {
        color: var(--black);
        background: var(--dwhite);
        font-size: var(--step-0);
}

#root {
        width: 100vw;
        overflow-x: hidden;
        padding-bottom: var(--space-s);

}

[data-grid] {
        --c-grid-offset: var(--grid-offset, 1.5rem);
        --c-breakout-offset: var(--breakout-offset, 1rem);
        --c-grid-width: var(--grid-width, 60rem);

        display: grid;
        grid-template-columns: [full-start left-start] minmax(var(--c-grid-offset), 1fr) [right-start content-start] minmax(auto, var(--c-grid-width)) [content-end left-end] minmax(var(--c-grid-offset), 1fr) [right-end full-end];

        &>* {
                grid-column: content;
        }
}


svg {
        width: var(--icon-size, 30px);
}

svg,
picture,
figure,
img,
video {
        max-width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
        font-weight: 700;
}

h1 {
        font-size: var(--step-5);
}

h2 {
        font-size: var(--step-4);
}

h3 {
        font-size: var(--step-3);
}

h4 {
        font-size: var(--step-2);
}

button {
        cursor: pointer;
}

.select-wrapper {
        --c-select-wrapper-padding: var(--select-wrapper-padding, 0.45rem);
        --icon-size: 20px;

        position: relative;
        width: fit-content;


       svg {
                position: absolute;
                inset: 50% var(--c-select-wrapper-padding) auto auto;
                transform: translateY(-50%);
                color: var(--black);
                z-index: 2;
                pointer-events: none;
        }
}

select {
        --c-select-clr: var(--select-clr, var(--black));
        --c-select-bg: var(--select-bg, var(--white));
        --c-select-padding: var(--select-padding, 0.75rem 1.85rem 0.75rem 0.75rem);
        --c-select-radius: var(--select-radius, 0.25rem);
        --c-select-border: var(--select-border, 0.1px solid currentcolor);
        --c-select-shadow: var(--select-shadow, 0 0 3px -2px hsl(var(--shadow-color) / 35%));

        background: var(--c-select-bg);
        color: var(--c-select-clr);
        border: var(--c-select-border);
        border-radius: var(--c-select-radius);
        padding: var(--c-select-padding);
        box-shadow: var(--c-select-shadow);
        position: relative;
        appearance: none;
        line-height: 1;
}

.sr-only {
        border: 0 !important;
        clip: rect(1px, 1px, 1px, 1px) !important;
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        white-space: nowrap !important;
}
